<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>AggiePlatter</title>
</head>
<body>
   <h1>Welcome to AggiePlatter!</h1>
   <h2>What day is it?</h2>
   <a href="sunday.html">sunday</a>
   <a href="monday.html">monday</a>
   <a href="tuesday.html">tuesday</a>
   <a href="wednesday.html">wednesday</a>
   <a href="thursday.html">thursday</a>
   <a href="friday.html">friday</a>
   <a href="saturday.html">saturday</a>
</body>
</html>